<?xml version="1.0" encoding="UTF-8"?>
<!-- Ensure IIS serves /community/index.html when someone hits /community/. -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
